@use './colors' as color;
@use './mediaQuerys' as query;


/*  ----------  ----------  Container Sizing  ----------  ----------  */
.height100 {
    height: 100%;
}
.height100vh {
    height: 100vh;
}
.height90vh {
    height: 90vh;
}
.height80vh{
    height: 80vh;
}
.height80 {
    height: 80%;
}
.width100 {
    width: 100%;
}
.width90 {
    width: 90%;
}
.width80 {
    width: 80%;
}
.width70 {
    width: 70%;
}
.width60 {
    width: 60%;
}
.width40 {
    width: 40%;
}
.width800px {
    width: 800px;
}
.width150px {
    width: 150px;
}




/*  ----------  ----------  Margin - Padding  ----------  ----------  */


.m1 {
    margin: 8px;
}
.m2 {
    margin: 16px;
}
.mb1 {
    margin-bottom: 8px;
}
.mb2 {
    margin-bottom: 16px;
}
.m-neg2-left {
    margin-left: -16px;
}
.p1 {
    padding: 8px;
}
.p2 {
    padding: 16px;
}

/*  ----------  ----------  Aligns  ----------  ----------  */

.text-center {
    text-align: center;
}
/*  ----------  ----------  Font Sizing  ----------  ----------  */

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2rem;
}

.text1 {
    font-size: 4rem;
    @include query.mobile {
        font-size: 2rem;
    }
}
.text2 {
    font-size: 1.6rem;
    @include query.mobile {
        font-size: 1.2rem;
    }
}
.text3 {
    font-size: 1.4rem;
}
.text4 {
    font-size: 1.2rem;
}


/*  ----------  ----------  Colors  ----------  ----------  */

.grey {
  color: color.$grey;
}
.whiteLight {
    color: color.$whiteLight
}

/*  ----------  ----------  Borders  ----------  ----------  */


.line-bb {
    border-bottom: 1px solid rgba(color.$white, .6);
}

/*  ----------  ----------  bgGrey  ----------  ----------  */

.bgGrey {
    background-color: rgba(255, 255, 255, 0.2);
}